<!--日夜间模式切换的js-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.body.style.visibility = 'visible';
      const themeSwitch = document.getElementById("theme-switch");
      const body = document.body;      
      
      // 检查本地存储中的主题设置
      const currentTheme = localStorage.getItem('theme');
      if (currentTheme === 'night') {
        body.classList.add('night-mode');
        themeSwitch.checked = true;
        document.documentElement.setAttribute('data-theme', 'dark');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
      }
  
      // 页面加载后添加 transition 类，恢复过渡动画
      setTimeout(() => {
        body.classList.add('transition-enabled');
      }, 100); // 延迟避免初始加载的过渡
  
      // 滑块切换事件
      themeSwitch.addEventListener("change", () => {
        if (themeSwitch.checked) {
          body.classList.add("night-mode");
          localStorage.setItem('theme', 'night');
          document.documentElement.setAttribute('data-theme', 'dark');
        } else {
          body.classList.remove("night-mode");
          localStorage.setItem('theme', 'day');
          document.documentElement.setAttribute('data-theme', 'light');
        }       
      });      
    });
  </script>