---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "博文" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <!--先遍历一遍，将有置顶标签的文章置顶-->
        {%-if post.top == true -%}
          <strong class="post-meta">置顶<br /></strong>

          {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}

      {%- for post in site.posts -%}
      <li>
        <!--没有置顶标签的文章后续输出即可-->
        {%-if post.top != true -%}
          {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
