---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>


  <div class="post-layout">

    <!-- 目录展开/收起按钮 -->
    <button class="toc-toggle" id="tocToggleButton">展开目录</button>

    <!-- 目录 -->
    <aside class="post-toc">
      <h3>目录</h3>
      <ul id="toc">
        <!-- 动态或静态生成目录的代码放在这里 -->
      </ul>
    </aside>
    
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    
  </div>

  <!-- 生成目录 -->
  {%include gen_toc.html%}

  <!-- 目录展开按钮的点击事件 -->
  {% include toc-toggle.html %}


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>